<div class="hidden md:flex gap-8 items-center">
  <!-- <a class="text-[#775a19] border-b-2 border-[#775a19] pb-1 font-bold font-serif tracking-widest uppercase text-sm transition-all duration-300" href="#itinerary">{{dict.SIDE_MENU_CONTENT_ITINERARY}}</a> -->

  @for (item of menuOptions; track item.route) {

    <a
      [routerLink]="item.route"
      routerLinkActive="text-[#775a19] border-b-2 border-[#775a19] pb-1 font-bold"
      class="
        text-[#211a15]/70
        dark:text-[#fff8f4]/70
        hover:text-[#72563e]
        font-serif
        tracking-widest
        uppercase
        text-sm
        transition-all
        duration-300"
    >
      {{item.label}}
    </a>

  }

</div>
